
.container {

background: hsla(37, 79%, 65%, 1);
background: linear-gradient(0deg, hsla(37, 79%, 65%, 1) 0%, hsla(41, 100%, 89%, 1) 100%);
background: -moz-linear-gradient(0deg, hsla(37, 79%, 65%, 1) 0%, hsla(41, 100%, 89%, 1) 100%);  
background: -webkit-linear-gradient(0deg, hsla(37, 79%, 65%, 1) 0%, hsla(41, 100%, 89%, 1) 100%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#ECB55D", endColorstr="#FFEDC7", GradientType=1 );
}