.container {
  width: 75%;
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}


/* .table-container {
  width: 50%;
  border: 1px solid #edf2f7;
  border-radius: 8px;
  box-shadow: 10px 5px 5px #edf2f7;
  table-layout: auto;
  border-collapse: collapse;
  padding: 3rem;
}

.header {
  border: 1px solid #edf2f7;
  background: #f7fafc;
  color: #4a5568;
}
 */